/*--import--*/
@import '../node_modules/scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+KR:wght@400;500;700 & display=swap');

/*--초기설정--*/
*{list-style:none; margin:0; padding:0; box-sizing: border-box;}
a{text-decoration: none; color:#333;}

/*---변수---*/
$basics-font:'Noto Sans KR', 산세리프;
$font-size-01:20px;
$font-size-02:15px;
$font-weight-01:700;
$font-weight-02:400;

$title-padding:20px;
$padding-b-20:20px;

.pc{
  border:0px solid blue;
  width:100%;
  height:auto;
  font-family: $basics-font;
  letter-spacing:-0.9px;
  position: relative;
  .bg{
    background: url("/image/con_bg.png") no-repeat 0 0;
    width: 100%;
    height: 350px;
    background-color: #112046;
    position: absolute;
  }
  /*=== Header ===*/
  h1{
    border:0px solid red;
  }
  header{
    background-color:#fff;
    border-bottom:1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    height:70px;
    ul{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    }
    .gnb{
      width:80%;
      border:0px solid green;
      display: flex;
      align-items: center;
      .menuGroup{
        border:0px solid red;
        font-weight: 700;
        ul{
          display: flex;
          width:350px;
          justify-content: space-evenly;
          border:0px solid black;
          li>a{
            color:#ccc;
            &:hover{
              color:#333;
              transition: all 0.5s;
            }
          }
        }
      }
      .iconGroup{
        border:0px solid blanchedalmond;
        ul{
          width:150px;
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }/*header_종료*/

  /*=== visual ===*/
  [name="slide"] {display: none;}
  .visual{
    /*max-width:1000px;*/
    width:100%;
    margin: 0 auto;
    img{max-width:100%;}
    .slideList{
      white-space: nowrap;
      font-size: 0;
      overflow: hidden;
    }
    .slideItem{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width:100%;
      transition: all .5s;
      /*transition: all 35s;*/
      label{
        position:absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    label.left{
      left: 180px;
      background-image: url("/image/l_btn.png");
      background-position: center center;
      /*background-size:50%;*/
      background-repeat: no-repeat;
    }
    label.right{
      right: 180px;
      background-image: url("/image/r_btn.png");
      background-position: center center;
      /*background-size:50%;*/
      background-repeat: no-repeat;
    }
    [id="slide01"]:checked ~ .slideList .slideItem{transform: translateX(0);}
    [id="slide02"]:checked ~ .slideList .slideItem{transform: translateX(-100%);}
    [id="slide03"]:checked ~ .slideList .slideItem{transform: translateX(-200%);}

  }/*visual_종료*/

  /*=== contents ===*/
  .contents{
    width:80%;
    border:0px solid green;
    margin:0 auto;
    text-align: center;
    .con_01{
      display: flex;
      flex-direction: column;
      border:0px solid red;
      .tilte_01{
        border:0px solid red;
        font-size:$font-size-01;
        font-weight:$font-weight-01;
        padding:$title-padding;
      }
      input[type="radio"]{
        display:none;
      }
      .conbox{
/*        width:300px;
        height:300px;*/
        display:none;
        ul{
          border: 0px solid blue;
          display: flex;
          justify-content: space-evenly;
        }
      }
      .tabBtn{
        padding:10px;
        text-align: center;
      }
      label[for*="tab"]{
        display:inline-block;
        padding:10px;
        /*background:#ccc;*/
        cursor: pointer;
        margin:5px;
        a{color:#ccc;}
      }
      input[id="tab01"]:checked ~ .con1{
        display:block;
        max-width: 1160px;
        margin: 0 auto;
        padding-top: 40px;
        img{
          width: 95%;
          &:hover{
            opacity: 0.6;
            transition: all 0.3s;
          }
        }
      }
      input[id="tab02"]:checked ~ .con2{
        display:block;
        max-width: 1160px;
        margin: 0 auto;
        padding-top: 40px;
        ul>li{
          width:272px;
          height:260px;
          background:#badcff;
          border-radius: 22px;
        }
      }
      input[id="tab03"]:checked ~ .con3{
        display:block;
        max-width: 1160px;
        margin: 0 auto;
        padding-top: 40px;
        ul>li{
          width:272px;
          height:260px;
          background:#ffe7ec;
          border-radius: 22px;
        }
      }
      input[id="tab01"]:checked ~ .tabBtn > label[for="tab01"] > a{
        border-bottom: 3px solid #112046;
        color:#333;
        padding-bottom: 5px;
      }
      input[id="tab02"]:checked ~ .tabBtn > label[for="tab02"] > a{
        border-bottom: 3px solid #112046;
        color:#333;
        padding-bottom: 5px;
      }
      input[id="tab03"]:checked ~ .tabBtn > label[for="tab03"] > a{
        border-bottom: 3px solid #112046;
        color:#333;
        padding-bottom: 5px;
      }
      .pB{padding-bottom:$padding-b-20;}
    }
    .con_02{
      height:300px;
      border: 0px solid #333333;
      padding-top:90px;
      img{
        width:75%;
      }
    }
    .con_03{
      border:0px solid #777;
      margin-top:100px;
      .tilte_02{
        border:0px solid red;
        font-size:$font-size-01;
        font-weight:$font-weight-01;
        padding:$title-padding;
        p:nth-child(2){
          border:0px solid red;
          font-size:$font-size-02;
          font-weight:$font-weight-02;
          color:#AFAFAF;
          padding-top: 5px;
        }
      }
      .box{
        max-width: 1108px;
        margin: 0 auto;
        border:0px solid red;
        margin-top:30px;
        ul{
          display: flex;
          .left{
            border:0px solid blue;
            margin-right: 16px;
            img{
              &:hover{
                opacity: 0.7;
                transition: all 0.3s;
              }
            }
          }
          .right{
            border:0px solid green;
            ul{
              padding-bottom: 16px;
              li:nth-child(1){
                border:0px solid red;
                padding-right:10px;
              }
              li:nth-child(2){
                border:0px solid blue;
                padding-left:6px;
              }
            }
            img{
              &:hover{
                opacity: 0.7;
                transition: all 0.3s;
              }
            }
          }
        }
        .allView{
          border: 0px solid red;
          display: flex;
          justify-content: center;
          margin-top:30px;
          margin-bottom: 150px;
          button{
            border-style: none;
            border: 1px solid #ededed;
            border-radius: 30px;
            width: 160px;
            height: 50px;
            margin: 5px;
            cursor:pointer;
            font-weight: 400;
            background-color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            letter-spacing:-0.9px;
          }
        }
      }
    }
  }/*contents_종료*/
  .con_04{
    border:0px solid #999;
    .bg_content{
      border:0px solid red;
      max-width: 1160px;
      margin:0 auto;
      position: relative;
      ul{
      }
      .deco_01{
        text-align: left;
        color: #fff;
        width:400px;
        position: absolute;
        top:-1px;
        left:42px;
        li:nth-child(1){
          border:0px solid red;
          padding-bottom: 35px;
          img{
            width:22%;
          }
        }
      }
      .deco_02{
        padding-top: 40px;
      }
    }
  }
  .con_05{
    margin-top:950px;
    margin-bottom: 600px;
    border:0px solid #222;
    .tilte_03{
      border:0px solid red;
      font-size:$font-size-01;
      font-weight:$font-weight-01;
      padding:$title-padding;
      text-align: center;
      p:nth-child(2){
        border:0px solid red;
        font-size:$font-size-02;
        font-weight:$font-weight-02;
        color:#AFAFAF;
        padding-top: 5px;
      }
    }
    .decoBG{
      background:url("/image/con_05Bg.png") no-repeat 0 0;
      height: 155px;
      .reviewGroup{
        max-width:1160px;
        margin:0 auto;
        border:0px solid red;
        display: flex;
        img{
          width:95%;
        }
      }
    }
    .allView{
      border: 0px solid red;
      display: flex;
      justify-content: center;
      margin-top:30px;
      button{
        border-style: none;
        border: 0px solid #ededed;
        border-radius: 30px;
        width: 160px;
        height: 50px;
        margin: 5px;
        cursor:pointer;
        font-weight: 400;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        letter-spacing:-0.9px;
      }
    }
  }

  /*=== footer ===*/
  footer{
    background-color:#414141;
    .fGroup{
      max-width: 1160px;
      margin: 0 auto;
      text-align: center;
      div{
        padding: 20px;
      }
      img{
        width: 3%;
      }
    }
    .footerMenu{
      display:flex;
      justify-content: center;
      border-bottom: 1px solid #707070;
      li{
        a{color:#C5C5C5;}
      }
      li:nth-child(2){
        border:0px solid red;
        padding: 0px 43px 20px 52px;
      }
    }
    .footerDeco{
      padding:10px;
      li{
        font-size: 12px;
        color: #C5C5C5;
      }
    }
  }
}/*-----pc종료-------*/